<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>QA Corner</title>  

  <link href="../static/main.3f6952e4.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Training Topics</a></li>
          <li><a href="./about.html" title="">03 : About us</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./ia.html" title="" class="active">001</a></li>
            <li><a href="./ca.html" title="">002</a></li>
            <li><a href="./rca.html" title="">003</a></li>
            <li><a href="./dc.html" title="">004</a></li>
            <li><a href="./fmea.html" title="">005</a></li>
            <li><a href="./iso.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : Root Cause Analysis</h1>
          </div>
          <p class="p-size-title">Internal audits are crucial for organizations to identify areas for improvement, ensure compliance with standards, and maintain operational excellence.</p>

          <blockquote>
            <p>"Internal audits are the flashlight that illuminates the path to organizational excellence, revealing hidden treasures of efficiency and opportunities for improvement."</p>
            <small class="pull-right">Unknown</small>
          </blockquote>
        </div>
      </div>
      <div class="col-md-12 col-md-offset-0 section-container-spacer">
        <div class="row">
          <h3>To create a comprehensive internal audit based on ISO 9001:2015, follow these steps:</h3>
          <h3>Establish Audit Objectives:</h3>
          <p class="p-size-info">Define the purpose of the internal audit, which may include assessing conformity with ISO 9001:2015 requirements, identifying opportunities for improvement, and ensuring the effectiveness of the quality management system (QMS).</p>
        </div>
        <div class="row">
          <h3>Scope Definition:</h3>
          <p class="p-size-info">Determine the scope of the audit, including the processes, departments, and locations to be audited within the organization.</p>
        </div>
        <div class="row">
          <h3>Audit Criteria:</h3>
          <p class="p-size-info">Identify the ISO 9001:2015 requirements and other applicable criteria against which the audit will be conducted.</p>
        </div>
        <div class="row">
          <h3>Audit Team Selection:</h3>
          <p class="p-size-info">Assemble a competent audit team with knowledge of ISO 9001:2015 requirements, auditing techniques, and relevant industry experience.</p>
        </div>
        <div class="row">
          <h3>Audit Planning:</h3>
          <p class="p-size-info">Develop an audit plan detailing the audit objectives, scope, criteria, methodology, resources required, and schedule.</p>
        </div>
        <div class="row">
          <h3>Document Review:</h3>
          <p class="p-size-info">Review relevant documents such as the organization’s quality manual, procedures, work instructions, records, and previous audit reports.</p>
        </div>
        <div class="row">
          <h3>On-site Audit Activities:</h3>
          <p class="p-size-info">Conduct on-site audit activities, including interviews with personnel, observation of processes, and review of records to assess conformity and effectiveness.</p>
        </div>
        <div class="row">
          <h3>Audit Evidence Collection:</h3>
          <p class="p-size-info">Gather objective evidence to support audit findings, including documented information, records, and observations.</p>
        </div>
        <div class="row">
          <h3>Audit Reporting:</h3>
          <p class="p-size-info">Prepare an audit report documenting the findings, conclusions, and recommendations arising from the audit, ensuring clarity and objectivity.</p>
        </div>
        <div class="row">
          <h3>Follow-Up Actions:</h3>
          <p class="p-size-info">Track and monitor the implementation of corrective actions resulting from audit findings to address non-conformities and improve the QMS.</p>
        </div>
        <div class="row">
          <h3>Audit Closure:</h3>
          <p class="p-size-info">Close the audit by verifying the completion of follow-up actions, updating audit records, and communicating audit results to relevant stakeholders.</p>
        </div>
        <div class="row">
          <h3>Continuous Improvement:</h3>
          <p class="p-size-info">Use audit findings and feedback to identify opportunities for enhancing the effectiveness and efficiency of the internal audit process and the QMS as a whole.</p>
        </div>
        <div class="row">
          <h3>Summary</h3>
          <p class="p-size-info">By following these steps, you can conduct a comprehensive internal audit aligned with ISO 9001:2015 requirements, contributing to the ongoing improvement of your organization’s quality management practices.</p>
          <p class="p-size-info">Well, now that you have a better understanding on how to conduct Internal Audits, go and change the World!</p>
        </div>
      </div>

      
      
      <!-- <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/work001-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="../static/assets/images/work001-03.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="../static/assets/images/work001-04.jpg" class="img-responsive" alt="">
      </div> -->

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© THE QA CORNER | Website created to expand your horizon!</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>